doctype html
body
    .wrapper
        .score
            .bottle
                .empty
                .points#green
            .text Hej du
        .score
            .bottle
                .empty
                .points#yellow
            .text
        .score
            .bottle
                .empty
                .points#red
            .text
        .score
            .bottle
                .empty
                .points#blue
            .text

link(rel="stylesheet", href="styles.css")
script(src="script.js") 