body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  width: 1920px;
  height: 1080px;
  background-color: black;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottle {
  height: 700px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 80px;
  -webkit-box-shadow: 0 4px 30px rgba(255, 255, 255, 0.6);
          box-shadow: 0 4px 30px rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;

}
.bottle .empty {
  width: 100%;
}
.bottle .points {
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 80px 80px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.75);
          box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.75);
}
.bottle #green {
  background-image: url("green.jpeg");
}
.bottle #yellow {
  background-image: url("yellow.jpeg");
}
.bottle #blue {
  background-image: url("blue.jpeg");
}
.bottle #red {
  background-image: url("red.jpeg");
}

.text {
  margin-top: 30px;
  font-size: 48px;
  font-family: sans-serif;
  color: white;
}